<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center">Welcome</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-toolbar no-border-top>
     <ion-searchbar color="primary"></ion-searchbar> -->

     <!-- [(ngModel)]="queryText"
                         (ionInput)="updateSchedule()"
                         placeholder="Search">  -->

  <!-- </ion-toolbar> --> 
</ion-header>

<ion-content>
  <div class="about-header">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <h2 style="text-align: center">WHEELSTRACER</h2>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>


    <!-- <img src="assets/img/DBN1.gif"  alt="ionic logo"> -->
  </div>

  <div padding class="about-info">
    <div style="max-width:600px; margin:0 auto;">

      <ion-card>
        <ion-card-header>
          <h4 style="text-align: center">Good Food :: Whenever And Wherever </h4>
        </ion-card-header>

        <ion-card-content>
          <ion-list no-lines>
            <!-- <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>When</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="currentDate"></ion-datetime>
            </ion-item> -->
            <ion-item>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Where</ion-label>
              <ion-select  style="padding-left: 0px;padding-right: 2px;" >
                <ion-option value="hitechcity" selected>Hi-Tech City</ion-option>
                <ion-option value="gachibowli">Gachibowli</ion-option>
                <ion-option value="kondapur">Kondapur</ion-option>
                <ion-option value="madhapur">Madhapur</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="md-restaurant" item-start></ion-icon>
              <ion-label>Type</ion-label>
              <ion-select [ngModel]="eatType" (ngModelChange)="onVegChange($event)" name="sel2" 
              style="padding-left: 0px;padding-right: 2px;">
                  <ion-option *ngFor="let i of eatTypes()">{{i}}</ion-option>
                </ion-select>
            </ion-item>
            
          </ion-list>
        </ion-card-content>

      </ion-card>
    </div>
  </div>
  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-list no-lines>
        <ion-item>
          <ion-label>
            Staples
          </ion-label>
          
        </ion-item>
      </ion-list>
    </ion-card-header>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col [hidden]="eatType=='Non-Veg'" col-6 col-md-4 col-xl-3 *ngFor="let vegStaple of vStaple | async ">
            <ion-card>
              <img [src]="foodImagesRef1+vegStaple.image+foodImagesRef2">

              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{vegStaple.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(vegStaple)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/veg.jpg'" class="food-items">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="md-remove" (click)="changeVeg()"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

          </ion-col>
          <ion-col [hidden]="eatType=='Veg'" col-6 col-md-4 col-xl-3 *ngFor="let nonvegStaple of nvStaple | async ">
            <ion-card>
              <img [src]="foodImagesRef1+nonvegStaple.image+foodImagesRef2">

              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{nonvegStaple.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(nonvegStaple)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/nonveg.jpg'" class="food-items">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small (click)="changeVeg()">
                    <ion-icon name="md-remove"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-list no-lines>
        <ion-item>
          <ion-label>
            Curry
          </ion-label>          
        </ion-item>
      </ion-list>
    </ion-card-header>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col [hidden]="eatType=='Non-Veg'" col-6 col-md-4 col-xl-3 *ngFor="let vegCurry of vCurry | async ">
            <ion-card>
              <img [src]="foodImagesRef1+vegCurry.image+foodImagesRef2">
              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{vegCurry.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(vegCurry)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/veg.jpg'">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="md-remove"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

          </ion-col>
          <ion-col [hidden]="eatType=='Veg'" col-6 col-md-4 col-xl-3 *ngFor="let nonvegCurry of nvCurry | async ">
            <ion-card>
              <img [src]="foodImagesRef1+nonvegCurry.image+foodImagesRef2">
              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{nonvegCurry.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(nonvegCurry)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/nonveg.jpg'">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="md-remove"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


</ion-content>