<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center">Your Home Food</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>    
      <ion-card-header>
          <h4 style="text-align: center">Missing Home Food ??</h4>
      </ion-card-header>
    </ion-card>
  <ion-card> 
      <ion-card-header>
          <ion-list no-lines>                             
              <ion-item>
                <ion-icon name="pin" item-start></ion-icon>
                <ion-select style="padding-left: 0px;padding-right: 10px;">
                  <ion-option value="hitechcity" selected>North Indian</ion-option>
                  <ion-option value="gachibowli">Mumbai Food</ion-option>
                  <ion-option value="kondapur">Gujurati</ion-option>
                  <ion-option value="madhapur" selected>Odisha</ion-option>
                  <ion-option value="madhapur">Tamil</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
        </ion-card-header>
      <div>          
      <ion-grid >
        <ion-row>
          <ion-col  col-6 col-md-4 col-xl-3 *ngFor="let vegStaple of vOdishaThali | async ">
            <ion-card>              
              <img [src]="foodImagesRef1+vegStaple.image+foodImagesRef2">            

              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{vegStaple.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(vegStaple)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/veg.jpg'" class="food-items">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="md-remove" (click)="changeVeg()"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

          </ion-col>
          <ion-col  col-6 col-md-4 col-xl-3 *ngFor="let nonvegStaple of nvOdishaThali | async ">
            <ion-card >
             
                  <img [src]="foodImagesRef1+nonvegStaple.image+foodImagesRef2" >
              
              

              <ion-row style="background-color: burlywood">
                <ion-col>
                  <h4 style="text-align: center">{{nonvegStaple.name}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addToCart(nonvegStaple)">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
                <div class="veg-nonveg">
                  <ion-col>
                    <img [src]="'assets/img/nonveg.jpg'" class="food-items">
                  </ion-col>
                </div>

                <ion-col>
                  <button ion-button icon-left clear small (click)="changeVeg()">
                    <ion-icon name="md-remove"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

          </ion-col>
          <ion-col  col-6 col-md-4 col-xl-3 *ngFor="let nonvegStaple of vNorthIndianThali | async ">
              <ion-card >
               
                    <img [src]="foodImagesRef1+nonvegStaple.image+foodImagesRef2">
                
                <ion-row style="background-color: burlywood">
                  <ion-col>
                    <h4 style="text-align: center">{{nonvegStaple.name}}</h4>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left clear small (click)="addToCart(nonvegStaple)">
                      <ion-icon name="md-add"></ion-icon>
                    </button>
                  </ion-col>
                  <div class="veg-nonveg">
                    <ion-col>
                      <img [src]="'assets/img/veg.jpg'" class="food-items">
                    </ion-col>
                  </div>
  
                  <ion-col>
                    <button ion-button icon-left clear small (click)="changeVeg()">
                      <ion-icon name="md-remove"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card>
  
            </ion-col>
            <ion-col  col-6 col-md-4 col-xl-3 *ngFor="let nonvegStaple of nvNorthIndianThali | async ">
                <ion-card >
                  
                      <img [src]="foodImagesRef1+nonvegStaple.image+foodImagesRef2" >
                 
                  <ion-row style="background-color: burlywood">
                    <ion-col>
                      <h4 style="text-align: center">{{nonvegStaple.name}}</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <button ion-button icon-left clear small (click)="addToCart(nonvegStaple)">
                        <ion-icon name="md-add"></ion-icon>
                      </button>
                    </ion-col>
                    <div class="veg-nonveg">
                      <ion-col>
                        <img [src]="'assets/img/nonveg.jpg'" class="food-items">
                      </ion-col>
                    </div>
    
                    <ion-col>
                      <button ion-button icon-left clear small (click)="changeVeg()">
                        <ion-icon name="md-remove"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-card>
    
              </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
         

</ion-content>
